/resources/
/nbproject/Makefile-Debug.mk
/nbproject/Package-Debug.bash
/nbproject/project.xml
/nbproject/configurations.xml
/nbproject/Package-Release.bash
/nbproject/Makefile-Release.mk
/nbproject/private/